.image-text-grid-container {
  padding: 16px;
}

.image-text-grid-item {
  text-align: center;
}

.image-box {
  margin-bottom: 16px;
  width: 100%;
  height: 400px;
  overflow: hidden;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
