.appBar {
  background-color: rgba(0, 0, 0, 0.5) !important;
  backdrop-filter: blur(5px);
  z-index: 1000;
}

.toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.leftSideBox {
  display: flex;
  align-items: center;
}

.logo {
  height: 100px;
  margin-right: 16px;
}

.rightSideBox {
  display: flex;
  gap: 16px;
}
