.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure the App takes full height of the viewport */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

html,
body {
  height: 100%;
  margin: 0;
}

.main-content {
  position: relative; /* Make this container relative for absolute positioning of text */
  flex: 1; /* Allows the main content area to take up available space */
  display: flex;
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
}

.overlay-text-small {
  position: absolute; /* Position text on top of the image */
  top: 12%; /* Adjust this value to move text lower from the top */
  left: 50%; /* Center horizontally */
  transform: translate(
    -50%,
    -50%
  ); /* Center text horizontally and adjust vertical position */
  color: white; /* Text color */
  font-size: 2rem; /* Adjust as needed */
  font-weight: bold; /* Make text bold */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6); /* Optional: add shadow for better visibility */
  text-align: center; /* Center the text horizontally within its container */
  width: 80%; /* Adjust the width to make the text area wider */
}

.overlay-text-big {
  position: absolute; /* Position text on top of the image */
  top: +20%; /* Adjust this value to move text lower from the top */
  left: 50%; /* Center horizontally */
  transform: translate(
    -50%,
    -50%
  ); /* Center text horizontally and adjust vertical position */
  color: white; /* Text color */
  font-size: 4rem; /* Adjust as needed */
  font-weight: bold; /* Make text bold */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6); /* Optional: add shadow for better visibility */
  text-align: center; /* Center the text horizontally within its container */
  width: 80%; /* Adjust the width to make the text area wider */
  white-space: normal; /* Allow text to wrap normally */
}

.main-content img {
  width: 100%; /* Make the GIF take up the full width of its container */
  height: auto; /* Maintain aspect ratio */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
